{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Show Key words</title>

{% endblock %}


{% block body %}

<div class="container-fluid mt-3">
      <h3>Key Word List:</h3>
</div>
<div class="container mt-4">
      <div class="row">



            <!-- Keywords show-->
            <div class="col-sm-8">
                  <ul class="list-group">
                        {% for i in words%}

                        <li class="mb-3">
                              <ul>{{i.key_word}}</ul>
                              <ul>
                                    <span> Total searched by this key word: </span> <span>{{i.count}}</span><span>
                                          times.</span>
                              </ul>
                              <ul>
                                    <span> Search Result:</span> <span>{{i.result_showed}}</span>
                              </ul>
                              <ul>
                                    <span> Last search by the user: </span><span>{{i.last_search_by}}</span>
                              </ul>
                        </li>

                        {% endfor%}
                  </ul>
            </div>
            <!-- Keywords show end-->



            <!-- filter -->
            <div class="col-sm-4 fiter_border ">
                  <label class="form-check-label" for="task_filter">filter using key word name:</label>
                  <input type="text" id="task_filter" placeholder="Filter Task">


                  <label class="form-check-label mt-3" for="for_first_filters">
                        Show Key-words based on counts:
                  </label>


                  <div id="for_first_filters">

                        <div class="form-check">
                              <input class="form-check-input count" type="checkbox" value=2 id="2_times"
                                    onclick="checkBox()">
                              <label class="form-check-label" for="2_times">
                                    2 times found
                              </label>
                        </div>
                        <div class="form-check">
                              <input class="form-check-input count" type="checkbox" value=5 id="5_times"
                                    onclick="checkBox()">
                              <label class="form-check-label" for="5_times">
                                    5 times found
                              </label>
                        </div>
                        <div class="form-check">
                              <input class="form-check-input count" type="checkbox" value=10 id="10_times"
                                    onclick="checkBox()">
                              <label class="form-check-label" for="10_times">
                                    10 time found
                              </label>
                        </div>
                        <div class="form-check">
                              <input class="form-check-input count" type="checkbox" value=20 id="20_times"
                                    onclick="checkBox()">
                              <label class="form-check-label" for="10_times">
                                    20 time found
                              </label>
                        </div>
                  </div>


                  <label class="form-check-label mt-3" for="for_2nd_filters">
                        Show Key-words based on user name:
                  </label>

                  <div id="for_2nd_filters">
                        {% for i in user%}
                        <div class="form-check">
                              <input class="form-check-input user_name" type="checkbox" value={{i}} id={{i}}
                                    onclick="checkBox()">
                              <label class="form-check-label" for={{i}}>
                                    {{i}}
                              </label>
                        </div>
                        {% endfor %}
                  </div>

            </div>
            <!-- filter end-->



      </div>
</div>
{% endblock %}



{% block body2 %} {% endblock %}

{% block end %}
<script src="{% static 'CSS_JS/script.js' %}" type=""> </script>
{% endblock %}